* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "DM Sans", sans-serif;
}

a {
    text-decoration: none;
    color: white;
    font-weight: 600;
    white-space: nowrap;
  }

ul,
ol,
li {
  list-style-type: none;
}

p {
    font-family: Arial, Helvetica, sans-serif;
    font-weight:bold
  }
  
  h1,
  h2,
  h3,
  h4,
  h5,
  h6 {
    font-family: "Roboto", sans-serif;
  }

.header-wrapper {
    background-color: 96C5B0;
    height: 250px;

    .left-container {
        text-align: center;
    }
    .left-container__titles {
        font-size:large;
        text-align: center;
        color: white;
    }
    .left-container__img {
        height: 35px;
        border-radius: 12px;
        padding: 1px;
        margin-top: 4px;
        background-color: black;
    }
    .nav-index {
        text-align: center;
        /* line-height: 1.5; */
    }
}
.wrapper-index-img {
  height: 80vh;
  padding-top: 2rem;
  background-image: url(../img/7-index-main.jpg);
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;

  .wrapper-index__title {
    text-align: center;
  }
  .wrapper-index__p {
    text-align: center;
  }
}

.wrapper-center {

  .container-text-center {

    .container-text-center__title {
      text-align: center;
      text-decoration:underline;
      color: blue;
    }
  }
}

.footer-wrapper {

  .footer-about {

    .footer-about__description {
      display: none; /* Ocultando parrafo */
      color: blueviolet;
    }
  }
  .footer-social {
    display: flex;
    justify-content: center;

    .footer-column__title {
      align-self: center;
    }
    }
    .bi-youtube {
      color: red;
    }
    .bi-instagram {
      color: purple;
    }
    .bi-facebook {
      color: blue;
    }
  }

@media only screen and (min-width: 768px) {
  .header-wrapper {
    display: flex;
    justify-content: space-around;
    align-items: center;
    background-color: 96C5B0;
    height: auto;
    width: 100%;
    padding-top: 1em;

    .left-container {
        display: flex;
        gap: 12px;
    }
    .left-container__titles {
      font-size: 16px;
      text-align: center;
    }
    .left-container__img {
        height: 35px;
        border-radius: 12px;
        padding: 1px;
        margin-top: 4px;
        background-color: black;
    }
    .nav-index {
        text-align: center;
        /* line-height: 1.5; */
    }
    .nav-index__list {
      display: flex;
      gap: 12px;
    }
 }
 .wrapper-index-img {
   height: 92.5vh;

   .wrapper-index__title {
   padding-top: 1em;
  }
}
 .wrapper-center {
    width: 100%;

  .container-text-center {
    max-width: 900px;
    padding: 20px;
    text-align: justify; /* Justifica el texto para una mejor lectura */
    margin-left: 25%;
  }
 }
 .footer-wrapper {

   .footer-social {
    display: flex;
    justify-content:space-around ;

    .footer-column__title {
      border: solid 1px;
    }
   }
   .footer-copyright {
    text-align: center;
   }
 }
}



/***************** COMO TRABAJO ******************/

.as-work-container {
  height: 70.5vh;
  background-image: url(../img/comotrabajo.jpg);
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;

  .ass-work__p {
    text-align: center;
    font-size:1.5rem;
    padding-top: 1rem;
  }
}
.as-work-container-text {
  padding-top: 1em;
  margin: 2em;
}

@media only screen and (min-width: 768px) {
  .as-work-container {
    height: 92.5vh;
    background-image: url(../img/comotrabajo.jpg);
  
    .ass-work__p {
      text-align: center;
      padding-top: 10rem;
      font-size:3rem;
    }
  }
}

/***************** Contacto ******************/

.contact-wrapper {
  height: 100%;
  display: flex;
  flex-direction: column;
  text-align: center;
  align-items: center;
  background-color: lightpink;

  .contact-container {
    padding: 1rem;
  }
  .contact-container {
    width: 300px;

    .contact-form {

      .contact-form__label {
        font-weight: bold;
      }
      .contact-form__inputext {
        width: 100%;
        padding: 0.5rem;
      }
    }
  }
}

@media only screen and (min-width: 768px) {
  
  .contact-wrapper {
    
    .contact-container {
      width: 400px;
    }
  }
}

/***************** OBJETIVO TERAPEUTICO ******************/

.wrapper-objetivo-terapeutico-img {
  height: 70.5vh;
  background-image: url(../img/5-terapia.png);
  background-repeat: no-repeat;
  background-size: contain;
  background-position: center;

  text-align: center;
  padding-top: 5em;
}
.wrapper-objetivo-terapeutico-p {

  .wrapper-objetivo-terapeutico__p {
    padding-top: 1em;
    margin: 2em;
  }
}